<h1>Example</h1>
<section class="container">
  <label for="datepicker">Choose date:</label>
  <input type="text" disabled id="datepicker" value="2013-11-16">
</section>
<script type="text/javascript">
  $(function() {
    $('#datepicker').datepicker();
  });
</script>
