@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
}

/** Button **/
/* line 16, stylesheets/datepicker.scss */
.dp-control {
  display: inline-block;
  vertical-align: baseline;
  margin: 0 3px;
  padding: 4px;
  font-size: 0.8em;
  color: #003ae8;
  background-color: #d5e7fd;
  border: solid 1px #d0e4fc;
}
/* line 25, stylesheets/datepicker.scss */
.dp-control.dp-expanded {
  border: solid 1px #a5cbfb;
}

/* line 29, stylesheets/datepicker.scss */
.dp-control:before {
  font-family: 'Glyphicons Halflings';
  content: "\e109";
  position: relative;
  font-size: 0.9em;
  top: 0.1em;
  padding: 0 4px;
}

/* line 37, stylesheets/datepicker.scss */
.dp-control:after {
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
  padding: 0 6px;
}

/* line 42, stylesheets/datepicker.scss */
.dp-expanded:after {
  content: "\e113";
}

/* line 45, stylesheets/datepicker.scss */
.dp-collapsed:after {
  content: "\e114";
}

/** Calendar **/
/* line 49, stylesheets/datepicker.scss */
.dp-calendar-container {
  text-align: center;
  color: #000;
}
/* line 52, stylesheets/datepicker.scss */
.dp-calendar-container:before {
  content: '';
  display: block;
  -webkit-box-shadow: inset 0 -10px 16px -16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -10px 16px -16px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -10px 16px -16px rgba(0, 0, 0, 0.2);
  height: 6px;
  border-bottom: solid 1px #eee;
}
/* line 59, stylesheets/datepicker.scss */
.dp-calendar-container:after {
  content: '';
  display: block;
  -webkit-box-shadow: inset 0 16px 16px -16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 16px 16px -16px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 16px 16px -16px rgba(0, 0, 0, 0.2);
  height: 16px;
  border-top: solid 1px #eee;
}

/* line 67, stylesheets/datepicker.scss */
.dp-month-container {
  display: inline-block;
  margin: 4px 8px;
  font-size: 0.8em;
}

/* line 72, stylesheets/datepicker.scss */
.dp-month-header {
  font-weight: bold;
  border-bottom: solid 1px #ccc;
  padding: 12px 0;
}

/* line 78, stylesheets/datepicker.scss */
.dp-month-table td, .dp-month-table th {
  padding: 6px;
}
/* line 81, stylesheets/datepicker.scss */
.dp-month-table th {
  color: #ccc;
  font-weight: normal;
}

/* line 86, stylesheets/datepicker.scss */
.dp-selected {
  color: #003ae8;
  background-color: #d5e7fd;
  border: solid 1px #d0e4fc;
}
